$font-family-sans-serif: 'Work Sans', sans-serif !default;
// $primary: #3d195f;
// $secondary: #ccf381;
// $primary: #290072;
// $secondary: #fcdf4b;
// $primary: #101820Ff;
// $secondary: #Fee715Ff;
$primary: #141A46;
$secondary: #ffab50;

$headings: $secondary;
$btn-font-weight: 700;
$btn-font-size: 17px;
$border-radius: 0;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
