$font-family-sans-serif: 'Work Sans', sans-serif !default;
$primary: #3d195f;
$secondary: #ccf381;
$headings: $secondary;

$btn-font-weight: 700;
$btn-font-size: 17px;
$border-radius: 0;

//$body-bg: $primary;
//$body-color: #ffffff !default;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
